#content {
  width: 75%;
  margin: 0 auto;

  text-align: left;

  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color:lightgray;
}

.add {
  color: green;
}

.subtract {
  color: red;
}

.profitLabel {
  text-align: center;
}
