<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="assets/images/company-info.png" alt="Card image cap" style="width:20rem;height:13rem;">
  <div class="card-body">
    <p class="card-text">Enter Company Name or Ticker</p>
    <div class="input-group">
      <span class="input-group-addon">_</span>
      <input mdInput [(ngModel)]="companyInputEntity.ticker" placeholder="Ticker" value="XYZ" (focusout)="lookupCompanyInfo()">
    </div>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input mdInput readonly placeholder="Value" value="{{companyInputEntity.value}}">
    </div>
    <div class="input-group">
      <span class="input-group-addon">%</span>
      <input mdInput readonly placeholder="Dividend" value="{{companyInputEntity.dividend}}">
    </div>
  </div>
</div>
