<!--<md-card id="personal-info-card" class="input-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"><i class="material-icons">person</i></div>
    <md-card-title>Personal Info</md-card-title>
    <!--<md-card-subtitle>Dog Breed</md-card-subtitle>
  </md-card-header>
  <!--<img md-card-image src="assets/img/examples/shiba2.jpg">
  <md-card-content>
    <md-input-container>
      <input mdInput placeholder="Salary" value="${{personalInputEntity.salary}}">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Contribution %" value="{{personalInputEntity.contributionPercent}}%">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Marginal Tax Bracket" value="{{personalInputEntity.marginalTaxBracket}}%">
    </md-input-container>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>
-->
