<!--<md-sidenav-container class="example-container" fullscreen>
  <md-sidenav #sidenav class="example-sidenav" opened="true">
    <app-ticker
      (lookupPriceEvent)="onLookupStockPriceEvent($event)"
      (lookupDividendEvent)="onLookupDividendEvent($event)">
    </app-ticker>
    <app-espp
      (esppInputEvent)="onEsppInputEvent($event)">
    </app-espp>
    <app-personal
      (personalInputEvent)="onPersonalInputEvent($event)">
    </app-personal>
    <button md-button (click)="onClickCalculate()">CALCULATE</button>
  </md-sidenav>

  <div class="example-sidenav-content">
    <button type="button" md-button (click)="sidenav.open()">
      Open sidenav
    </button>
  </div>

</md-sidenav-container>
-->
<div id="outerOuterInputDiv">
  <div id="outerInputDiv" class="collapse show">
    <div id="inputDiv" class="row row-list">
      <div class="col-lg-4">
        <app-ticker
          (lookupPriceEvent)="onLookupStockPriceEvent($event)"
          (lookupDividendEvent)="onLookupDividendEvent($event)">
        </app-ticker>
      </div>
      <div class="col-lg-4">
        <app-espp
          (esppInputEvent)="onEsppInputEvent($event)">
        </app-espp>
      </div>
      <div class="col-lg-4" style="text-align: center;">
        <app-personal
          (personalInputEvent)="onPersonalInputEvent($event)">
        </app-personal>
        <div id="calcButtonDiv">
          <button (click)="onClickCalculate()" class="btn btn-default">Calculate</button>
        </div>
      </div>
    </div>
  </div>
</div>
