#inputDiv {
  margin: auto;
  width: 75%;
  padding: 10px;
}

#calcButtonDiv {
  margin: auto;
  padding: 10px;
  float: left;
}

.section {
  margin: auto;
  width:100%;
}

#collapseInputDiv {
  padding: 10px;
}
